---
// import Counter from "@/components/Counter.svelte";
// import Prompter from "@/components/Prompter.svelte";
import OptionsSelect from "@/components/OptionsSelect.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
      <!-- <Counter client:visible text="Hello, Svelte!" /> -->
      <OptionsSelect client:load />
		</main>
	</body>
</html>
