---
import Layout from "@/layouts/Layout.astro";
import App from "@/components/App.svelte";
---

<Layout>
  <main class="p-4 lg:py-12 lg:px-8 xl:p-16 lg:max-w-screen-2xl lg:mx-auto">
    <App client:load />
  </main>
</Layout>
