---
// import Counter from "@/components/Counter.svelte";
import Prompter from "@/components/Prompter.svelte";
import App from "@/components/App.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<main>
      <!-- <Counter client:visible text="Hello, Svelte!" /> -->
      <Prompter client:load />
		</main>
	</body>
</html>
